* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	position: absolute;
	z-index: 1;
	margin-top: -40px;
	background-color: #B8DBD9;
	height: auto;
}

nav > div > div > a {
	background-color: #04724D;
}

#form {
	background-color: #000000;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.message_button {
	background-color: #04724D;
	width: 90px;
	height: 50px;
	border: none;
	border-radius: 50px;
}